# Build Artifacts
**/*.S
**/*.o
**/*.exe
# CCache
.cache
# CMake
**/bld
**/win
**/win-*
**/winbld
**/winbuild
**/mswin*
**/lnx
**/lin
**/lin-*
**/linbld
**/linbuild
**/lnx
**/lnxbld
**/lnxbuild
**/linux
**/linuxbld
**/linuxbuild
**/dbg
**/debug
**/rls
**/release
*/*out*
# Language Server
**/compile_commands.json
.Random.seed
.clang-format

# Backup Files
