:root {
    color-scheme: light dark;

    --fg: #000;
    --bg: #fefcfd;

    --success: #2da50e;
    --warning: #f86911;
    --error: #e71111;

    --keyword: #a40283;
    --comment: #343434;
    --constant: #208686;
    --delimiter: #212121;
    --string: #f34213;
    --escape: #f92a82;
    --escape-glyph: #d90a42;
    --function: #b54d00;
    --operator: #006435;
    --preprocessor: #383838;
    --variable: #1d2f2a;
    --type: #0049d5;
}

.dark-mode {
    --fg: #ffffff;
    --bg: #161718;

    --success: #2da50e;
    --warning: #f86911;
    --error: #e71111;

    --keyword: #dd64f4;
    --comment: #7f8388;
    --constant: #ceffff;
    --delimiter: #e4ebe8;
    --string: #ffee20;
    --escape: #fffd80;
    --escape-glyph: #fea80c;
    --function: #ffebbb;
    --operator: #0aff8d;
    --preprocessor: #babebb;
    --variable: #80fffd;
    --type: #2cabff;
}


body {color: var(--fg); background-color: var(--bg);}
.org-bold-italic {font-weight: bold; font-style: italic;}
.org-bold {font-weight: bold;}
.org-italic {font-style: italic;}
.org-underline {text-decoration: underline;}
.org-trailing-whitespace {background-color: var(--error);}
.org-success{color: var(--success);}
.org-warning{color: var(--warning);}
.org-error {color: var(--error);}
.org-builtin{color: var(--keyword);}
.org-comment{color: var(--comment);}
.org-comment-delimiter{color: var(--comment);}
.org-constant{color: var(--constant);}
.org-delimiter{color: var(--delimiter);}
.org-doc{color: var(--string);}
.org-doc-markup {color: var(--constant);}
.org-escape{color: var(--escape);}
.org-escape-glyph{color: var(--escape-glyph);}
.org-function-call{color: var(--function);}
.org-function-name{color: var(--function);}
.org-keyword{color: var(--keyword);}
.org-number{color: var(--constant);}
.org-operator{color: var(--operator);}
.org-preprocessor{color: var(--preprocessor);}
.org-property-name{color: var(--variable);}
.org-property-use{color: var(--variable);}
.org-variable-use{color: var(--variable);}
.org-variable-name{color: var(--variable);}
.org-string {color: var(--string);}
.org-warning-1{color: var(--error);}
.org-type{color: var(--type);}


/* Basic Org Styling */
#postamble p, #preamble p { font-size: 90%; margin: .2em; }
.title {
    text-align: center;
    margin-bottom: .2em;
}
.subtitle {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin-top:0;
}
.todo {
    font-family: monospace;
    color: var(--error);
}
.done {
    font-family: monospace;
    color: var(--success);
}
.priority {
    font-family: monospace;
    color: var(--warning);
}
.tag {
    font-family: monospace;
    padding: 2px;
    font-size: 80%;
    font-weight: normal;
}
.timestamp { color: var(--comment); }
.timestamp-kwd { color: var(--constant); }
.org-right  {
    margin-left: auto;
    margin-right: 0px;
    text-align: right;
}
.org-left   {
    margin-left: 0px;
    margin-right: auto;
    text-align: left;
}
.org-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.underline { text-decoration: underline; }
textarea { overflow-x: auto; }
.linenr { font-size: smaller }


/* Tables, Figures, Equations */
table { border-collapse:collapse; }
caption.t-above { caption-side: top; }
caption.t-bottom { caption-side: bottom; }
td, th { vertical-align:top;  }
th.org-right  { text-align: center;  }
th.org-left   { text-align: center;   }
th.org-center { text-align: center; }
td.org-right  { text-align: right;  }
td.org-left   { text-align: left;   }
td.org-center { text-align: center; }
dt { font-weight: bold; }
.footpara { display: inline; }
.footdef  { margin-bottom: 1em; }
.figure { padding: 1em; }
.figure p { text-align: center; }
.equation-container {
    display: table;
    text-align: center;
    width: 100%;
}
.equation {
    vertical-align: middle;
}
.equation-label {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}


/* Embedded Source Code */
pre {
    border: 1px solid var(--comment);
    border-radius: 3px;
    background-color: var(--bg);
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
}
pre.src {
    position: relative;
    overflow: auto;
}
